.Toolbar{
    height: 100%;
    width: 100%;
}
.SearchAppBar{
    padding: 0 200px;
}
.SearchAppBar img{
    width: 100px;
}
.Search{
    box-shadow: none;
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 1336px) {
    .SearchAppBar{
       padding: 0;
    }
}
@media (max-width: 1000px){
    .SearchAppBar img {
        display: none;
    }
}